@font-face {
  font-family: 'UniSansHeavy';
  src: url('Uni Sans Heavy.otf') format('opentype');
}
  
body {
  background: linear-gradient(45deg, #170653, #050830);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

h1 {
  color:rgb(212, 212, 222);
  font-size: xxx-large;
  font-family: 'UniSansHeavy', Arial, sans-serif;
  text-align: center;
}

.repositoryContainer {
  margin-left: 8%;
  margin-right: 8%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 2%;
  margin-bottom: 4%;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.space{
  flex: 0.45;
}

.repositoryHolder {
  color:rgb(0, 0, 0);
  font-size: x-large;
  font-family: 'UniSansHeavy', Arial, sans-serif;
  background: repeating-linear-gradient(
    -45deg,
    #ffffff,
    #ffffff 10px,
    #fafbff 10px,
    #fafbff 20px
  );
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 110px;
}

.repositoryDrop {
  flex: .2;
  text-align: center;
  align-content: center;
  font-size: 240%;
}

.repositoryHeader {
  flex: .8;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.repositoryHolder:active {
  height: 330px;
}

