/*Code Adapted From Aija's "CSS vertical carousel animation"*/
*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'UniSansHeavy';
  src: url('Uni Sans Heavy.otf') format('opentype');
}

body {
  background: linear-gradient(45deg, #170653, #050830);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.large-gap {
  margin-bottom: 320px;
}

h1 {
  color:rgb(212, 212, 222);
  font-size: xx-large;
  font-family: 'UniSansHeavy', Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  height: 100px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 90%;
  padding: 0 12px;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.carousel__item-head {
  border-radius: 50%;
  background: linear-gradient(45deg, #3f6eb6, #27418d);
  color:rgb(255, 255, 255);
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  margin-bottom: 340px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  font-family: 'UniSansHeavy', Arial, sans-serif;
  height: 480px;
  background: repeating-linear-gradient(
    -45deg,
    #ffffff,
    #ffffff 10px,
    #f9faff 10px,
    #f9faff 20px
  );
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.arrow-btn {
  width: 80px;
  height: 67px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 100%;
  background: linear-gradient(45deg, #3f6eb6, #27418d);
  color: white;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  cursor: pointer;
  border: none;
  z-index: 999;
}

.arrow-btn:hover {
  background-color: #5587d1;
  animation: liftUp 0.2s forwards;
}

.arrow-btn:not(:hover) {
  animation: floatDown 0.2s backwards;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

/*Transition Graph: (...A<->C<->D<->B<->A<->C<->D<->B<->A...)*/
.carousel__item.stateA {
  transform: translateX(0%) scale(1);
  opacity: 1;
  visibility: visible;
}

.carousel__item.stateB {
  transform: translateX(-100%) scale(0.7);
  opacity: 0.4;
  visibility: visible;
}

.carousel__item.stateC {
  transform: translateX(100%) scale(0.7);
  opacity: 0.4;
  visibility: visible;
}

.carousel__item.stateD {
  transform: translateX(0%) scale(0.5);
  opacity: 0;
  visibility: visible;
}

/* Font Awesome Icons */
.fa {
  font-size: inherit;
}

@keyframes liftUp {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px);
  }
}

@keyframes floatDown {
  0% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

/*Code adapted from https://www.coding-dude.com/wp/css/css-star/ four point star*/

.four-pointed-star{
  position:relative;
  margin:1px auto;
  width:1px;
  font-size:1px;
  animation-name: rotateAnimation;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
  z-index: -999;
}

.four-pointed-star:before{
  content:"";
  position:absolute;
  background:rgb(255, 244, 180);
  width:20px;
  height:23px;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  border-radius: 10%;
}

.four-pointed-star:after{
  content:"";
  position:absolute;
  background:rgb(255, 244, 180);
  width:20px;
  height:23px;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  border-radius: 10%;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.full-width-image {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.full-width-image img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: -100%;
  filter: blur(0px);
  transition: filter 0.1s ease-in-out;
}
.fade-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  pointer-events: none;
}