*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #192124;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

h1 {color:rgb(212, 212, 222); font-size: xx-large;}

.container {
  display: flex;
  justify-content: center;
  height: 100px;
}

.wrapper {
  background: linear-gradient(45deg, #0b0b41, #3155ca);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  -webkit-animation: carousel-animate-horizontal 12s cubic-bezier(0.31, -0.21, 0.72, 1.28) infinite;
          animation: carousel-animate-horizontal 12s cubic-bezier(0.31, -0.21, 0.72, 1.28) infinite;
}

.carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(3s * -1);
          animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(3s * 0);
          animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(3s * 1);
          animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(3s * 2);
          animation-delay: calc(3s * 2);
}

.carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

@-webkit-keyframes carousel-animate-horizontal {
  0% {
    transform: translateX(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 25% {
    transform: translateX(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  28%, 50% {
    transform: translateX(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  53%, 75% {
    transform: translateX(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  78% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes carousel-animate-horizontal {
  0% {
    transform: translateX(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 25% {
    transform: translateX(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  28%, 50% {
    transform: translateX(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  53%, 75% {
    transform: translateX(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  78% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

/* Font Awesome Icons */
.fa {
  font-size: inherit;
}

/*.carousel__item:hover {
  animation: liftUp 0.5s forwards;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes liftUp {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-10px);
  }
}

.carousel__item:not(:hover) {
  animation: floatDown 0.5s forwards;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

@keyframes floatDown {
  0% {
      transform: translateX(-10px);
  }
  100% {
      transform: translateX(0);
  }
}*/