@font-face {
    font-family: 'UniSansHeavy';
    src: url('Uni Sans Heavy.otf') format('opentype');
}

body {
    font-family: 'UniSansHeavy', Arial, sans-serif;
    background-color: #192124;
    margin: 0;
    padding: 0;
}
  
.container {
    background-color: #2d383c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    text-align: center;
    color: #414c50;
    font-size: 60px;
}

.containerTODO {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    width: 850px;
    height: 940px;
    margin: 20px auto;
    background-color: #2d383c;
}

.containerTODO > div {
    max-width: 600px;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
    margin: 10px;
}

.left, .right {
    text-align: center;
    font-size: 24px;
}

.left {
    border-right: 1px solid #ccc;
    height: 880px;
}

.upper{
    background-color: #2d6a2f;
    color: #104212;
    height: 440px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 8px;
}
.lower {
    background-color: #993227;
    color: #57110a;
    height: 440px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin-top: 8px;
}

.right {
    background-color: #414c50;
    color: #252f33;
    height: 880px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.section:hover {
    animation: liftUp 0.5s forwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
  
@keyframes liftUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
  
.section:not(:hover) {
    animation: floatDown 0.5s forwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
  
@keyframes floatDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    z-index: 999;
}
  
.back-btn:hover {
    background-color: #555;
}

.fa {
    font-size: inherit;
  }