body {
    font-family: Arial, sans-serif;
    background-color: #192124;
    margin: 0;
    padding: 0;
}
  
.container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    text-align: center;
    color: aliceblue;
}

.containerTODO {
    display: flex;
}

.containerTODO > div {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    flex: 1;
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.left, .right {
    padding: 0;
}

.left {
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.upper{
    flex: 1;
    background-color: #4CAF50;
}
.lower {
    flex: 1;
    background-color: #FF5733;
}

.right {
    flex: 2;
    background-color: #e3f5ff;
}

.containerTODO:hover {
    animation: liftUp 0.5s forwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
  
@keyframes liftUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
  
.containerTODO:not(:hover) {
    animation: floatDown 0.5s forwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
  
@keyframes floatDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}